<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">
                    <div class="logo-wrapper">
                        Banana
                    </div>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Components</a></li>
                </ul>

            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <div class="overlay"></div>
    <div class="content">
        <div class="notify-wrapper">
            <div class="notify">
                <h4>Notifications</h4>

                <div class="notifications">

                    <div class="card white hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Heart for Donation</span>
                            <p>Donor: Apple Punjabi</p>
                            <p>Organ: Heart</p>
                            <p>Location: Punjab</p>
                        </div>
                        <div class="card-action">
                            <a href="tel:9876543210">9876543210</a>
                            <a href="tel:1234567890">1234567890</a>
                        </div>
                    </div>
                    <div class="card white hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Kidney for Donation</span>
                            <p>Donor: Apple Punjabi</p>
                            <p>Organ: Heart</p>
                            <p>Location: Punjab</p>
                        </div>
                        <div class="card-action">
                            <a href="tel:9876543210">9876543210</a>
                            <a href="tel:1234567890">1234567890</a>
                        </div>
                    </div>
                    <div class="card white hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Liver for Donation</span>
                            <p>Donor: Apple Punjabi</p>
                            <p>Organ: Heart</p>
                            <p>Location: Punjab</p>
                        </div>
                        <div class="card-action">
                            <a href="tel:9876543210">9876543210</a>
                            <a href="tel:1234567890">1234567890</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="login-wrapper">
            <div class="login">
                <h4>Login</h4>
                <div class="login-form">
                    <div class="row">
                        <form class="s12">
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field inline">
                                        <input id="email_inline" type="email" class="validate">
                                        <label for="email_inline">Email</label>
                                        <span class="helper-text" data-error="wrong" data-success="right">Ex:
                                            example@example.com</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>